<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
    <form method= "POST" action="/museums/<%= @museum.id %>">
        <input type="hidden" name="_method" value="PATCH">
        <label for="name">Name:</label>
        <input type="text" name="name" value="<%= @museum.name %>">
        <label for="location">Location:</label>
        <input type="text" name="location" value="<%= @museum.location %>">
        <input type="submit" value="Edit">
    </form>
</body>
</html>